<!-- partials/header.html -->
<div class="container">
  <nav class="navbar-inverse navbar-fixed-top animated-header"> <!--buat ngasih barnya stay diatas -->
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span><a class="navbar-brand" href="">HOME</a></span>
        <span><a class="navbar-brand" href="#about-me" id='about-me-button'>ABOUT ME</a></span>
        <span><a class="navbar-brand" href="#skills" id='skills-button'>SKILLS</a></span>
        <span><a class="navbar-brand" href="#contact" id='contact-button'>FIND ME</a></span>

      </div>
    </div>
  </nav>
</div>
