*{
     padding: 0px;
     margin: 0px;
     font-family: 'Fira Code';
}
   body{
     height: 100%;
   }
   .center_screen{
    position: relative;
    width: 500px;
    height: 50px;
    top: 150px;
    left: 30%;
    margin-left: -250px; /* margin is -0.5 * dimension */
    margin-top: -25px;
   }

   .footer{
    position: relative;
    text-align: center;
    top: 10px;
   }

   .navbar-brand{
      position: relative;
      left: 400%;
      
   }
