*{
     padding: 0px;
     margin: 0px;
     font-family: 'Fira Code';
}
   body{
     height: 100%;
   }
   h2{
    text-align: center;
    font: 600 50px 'Pacifico', cursive;
  }
.navbar-inverse{
  background-color: transparent;
}
.navbar-brand:hover{
  box-shadow: 0 0 2px 0 grey;
  color:white;
}

.name{
  -webkit-animation: colorchange 1s infinite;
  -webkit-animation-direction: alternate;
  text-align: left;
}

/* animasi colorchange */
@-webkit-keyframes colorchange {
    100% {
        -webkit-text-stroke: 5px ;
    letter-spacing: 0;
    }
  100% {
    -webkit-text-stroke: 5px  ;
  }
    100% {
        -webkit-text-stroke: 5px ;
    }
}
   #home{
    background-position: fixed;
    background-size: cover;
    padding: 200px 0 320px 0;
   }


   #about-me{
    color: white;
    width:100%;
    padding: 15px 0 250px 0;
    background-color: rgb(39,40,37);
    /*rgb(65, 143, 179) biru bagus*/
   }
   #skills{
    padding: 15px 0 300px 0;
   }
   #contact{
    padding-bottom:20px;
   }
   #contact span{
    padding-right: 5px;
    padding-left: 5px;
   }



   .service-item{
    background-color: white;
    width: 200px; height: 400px;
   }
   .service-item img{
    padding-top:30px;
    padding-bottom: 60px;
   }
   .service-item h3{
    font-size: 21px;
    height: 50px;
    padding: 5px;
    font-family: cursive;
    background-color: rgb(39,40,37);
    color: white;
   }
 .service-item:hover{
  transition-duration: 0.5s;
  box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.2);
  transform: translate(0, -5px);
}
  .service-item p{
    padding:3px;
  }

   .footer{
    color: white;
    background-color: transparent;
    position: relative;
    text-align: center;
    top: 10px;
   } 
  .navbar-brand{
    left: 170%;
    padding-right: 20px;
    position: relative;
   }
   #profpict{
      width: 250px;
      height: 300px;
      position: auto;
      left: 150%;
      margin-top: 10px;
   }

