*{
     padding: 0px;
     margin: 0px;
     font-family: 'Fira Code';
}
   body{
     height: 100%;
     padding-top: 30px;
   }

   .center_screen{
    position: static;
   width: 600px;
    height: 50px;
    
    margin-left: 100px;
   }
   .jumbotron{
    position: relative;
    left: 10%;
    padding-top: 30%;
    margin-bottom: 75%;
    background: #fff; /* This is for ie8 and below */
   }
   .about-me{
    position: relative;
    width: 500px;
    margin-bottom: 50%;
   }
   .footer{
    position: relative;
    text-align: center;
    top: 10px;
   } 
  .navbar-brand{
    left: 200%;
    padding-right: 30px;
    position: relative;
   }
