*{
     padding: 0px;
     margin: 0px;
     font-family: 'Fira Code';
}
   body{
     height: 100%;
     background-color: : white;
/*     background-size: 1368px 768px;
    background-attachment: fixed;
    background-position: center;*/
   }
   #home{
    position: relative;
    margin-top: 10%;
    margin-bottom: 17%;
    background-color: #fff; /* This is for ie8 and below */
   }
   #about-me{
    position: relative;
    width: 20%;
    margin-bottom: 15%;
   }
   .footer{
    position: relative;
    text-align: center;
    top: 10px;
   } 
  .navbar-brand{
    left: 170%;
    padding-right: 20px;
    position: relative;
   }
   #profpict{
      width: 250px;
      height: 300px;
      position: absolute;
      left: 135%;
      margin-top: 10px;
   }

