*{
     padding: 0px;
     margin: 0px;
     font-family: 'Fira Code';
}
   body{
     height: 100%;
     background-color: : white;
/*     background-size: 1368px 768px;
    background-attachment: fixed;
    background-position: center;*/
   }
   h2{
    text-align: center;
    font: 600 50px 'Pacifico', cursive;
  }
   #home{
    /*background: url(https://images3.alphacoders.com/724/thumb-1920-724830.jpg) no-repeat;*/
    background-position: fixed;
    background-size: cover;
    padding: 200px 0 320px 0;
   }
   #about-me{
    width:100%;
    padding: 15px 0 250px 0;
    background-color: rgb(65, 143, 179);
    /*rgb(65, 143, 179) biru bagus*/
   }
   #skills{
    background: url(https://s3.envato.com/files/84408226/94.jpg);
    /*background-color: rgb(170, 184, 195);*/
    padding: 15px 0 300px 0;
   }
   #contact{
    background-color: rgb(7,29,50);
    padding-bottom:30px;
   }
   #contact span{
    padding: 10px;
   }
   .footer{
    color:white;
    background-color: rgb(7,29,50);
    position: relative;
    text-align: center;
    top: 10px;
   } 
  .navbar-brand{
    left: 170%;
    padding-right: 20px;
    position: relative;
   }
   #profpict{
      width: 250px;
      height: 300px;
      position: absolute;
      left: 135%;
      margin-top: 10px;
   }

