{% extends "layout/base.html" %}

{% block content %}
{% load static %}
<div class="content">

	<section id="home" style="background: url({% static 'img/nicola-meiring.jpg' %}) center fixed;">
		<div class="container">
			<h1 style="font: 900 96px 'Pacifico', cursive;" class="name">Hi, i'm Rani</h1>
			<h3 style="color:black; height: 0;width: 0;" id="subtitle"><b>An ordinary programmer with the unordinary dream</b></h3>
		</div>
	</section>

	<section id='about-me'>
		<div class="container">
			<div class="row">
				<div class="sec-title text-center">
					<h2>About me</h2>
				</div>
				
				<div class="col-md-6">
					<h4>
					<fieldset class="h"/>
						<table style="width: 700px ;height: 300px;vertical-align: text-top">
							<tr>
								<th style="width: 150px">Name</th>
								<td style="width: 25px">:</td><td colspan="2" rowspan="1">Rani Lasma Uli</td>
							</tr>
							<tr>
								<th>Place of birth, date</th><td>:</td>
								<td>Jakarta, 13 Mei 1998</td>
							</tr>
							<tr>
								<th>Education</th><td width="10px">:</td>
								<td>
								<ul style="margin-left: 10px">
									<li>Computer Science - Fasilkom UI (2016-now)</li>
									<li>SMAN 61 Jakarta (2013-2016) </li>
									<li>SMPN 255 Jakarta (2010-2013)</li>
									<li>SDN 08 Pondok Bambu, Jakarta (2007-2013)</li>
								</ul>
								</td>
							</tr>
							<tr>
								<th>Experience</th><td>:</td>
								<td>SISTEM(2017), Data Science Academy (VPIC CompFest X), and Teaching Asistant (Discrete Mathematics 2)</td>
							</tr>
						<tr>
							<th>Achievement</th> <td>:</td>
							<td>Juara 3 Band (UIAW) dan Juara 1 Vocal Group (UIAW)</td>
						</tr>
						</table>
					</fieldset>
					</h4>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 text-center">
					<div class="col-md-4">
						<img id='profpict' src="{% static 'img/me.jpg' %}" alt="My image" width="500px" />
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="skills" class="parallax" style="background: url({% static 'img/nicola-meiring1.jpg' %}) center fixed;">
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="sec-title text-center">
							<h2 class="wow animated bounceInLeft">Skills</h2>
						</div>
						
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<img src="{% static 'img/programming.png' %}" width="50%">
								<h3>Programming Language</h3>
								<p>Python, java, and javaScript</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<img src="{% static 'img/speaking.png' %}" width="50%">
								<h3>Public Speaker</h3>
								<p>Delegation of Fasilkom (Faculty of Computer Science in University of Indonesia) of Bahasa Indonesia Debate</p>
							</div>
						</div>
						
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<img src="{% static 'img/teamwork.png' %}" width="50%">
								<h3>Good teamwork</h3>
								<p> I used to work in team in every competition that i ever joined. So, i'm pretty sure that well-to-do work in team.</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<img src="{% static 'img/management.png' %}" width="50%">
								<h3>Management Skill</h3>
								<p>I'm quite busy because i've joined to <i>COMPFEST X</i> and <i>PO</i>. Although, this isn't my first time living with some tasks and responsibilities.</p>
							</div>
						</div>
						</div>
				
					</div>
				</div>
		</section>

		<section id="contact">
			<div class="container">
				<div class="sec-title text-center">
					<h3 style="color: black; font-family: 'Times New Roman', Times, serif;font-size: 20px">find me</h3>
				</div>
			<center>
				<span><a href="https://twitter.com/ranisianipar"><img src="http://pngimg.com/uploads/twitter/twitter_PNG8.png" style="width: 40px; height: 40px;"></a></span>
				<span><a href="https://www.linkedin.com/in/rani-lasma-uli-876a80137/"><img src="https://wwwen.uni.lu/var/storage/images/media/images/linkedin/1222854-1-fre-FR/linkedin.jpg" style="width: 40px; height: 40px;"></a></span>
				<span><a href="https://www.facebook.com/ranisianipar"><img src="https://cdn.worldvectorlogo.com/logos/facebook-2.svg" style="width: 40px; height: 40px;"></a></span>
				<span><a href="https://gitlab.com/ranisianipar"><img src="https://i1.wp.com/www.profiq.com/wp-content/uploads/2016/10/stacked_wm_no_bg.png?resize=620%2C680&ssl=1" style="width: 40px; height: 40px;"></a></span>
			</center>
			</div>
		</section>
</div>
{% endblock %}